@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  :focus-visible {
    @apply outline-0;
  }
  .all-center {
    @apply items-center justify-center;
  }
  button {
    @apply cursor-pointer;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --color-primary-yellow: #ebc15a;
  --color-primary-green: #429446;
  --color-squadre-1: #92aad0;
  --color-squadre-2: #fbf595;
  --color-squadre-3: #f7b0b6;
  --color-squadre-4: #d5b6d5;
  --color-squadre-5: #b4e794;
  --color-squadre-6: #ff8175;
  --color-squadre-7: #a3f6ff;
  --color-squadre-8: #ffce86;
  --color-squadre-9: #49b675;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html,
body,
#__next:not(:has(.referto)) {
  @apply h-screen min-h-screen;
}

#__next {
  @apply flex flex-col;
}

* {
  @apply caret-primary-green accent-primary-green;
}

/* a {
  @apply text-blue-400;
} */

td,
th {
  @apply px-2 py-2 text-center;
}

th {
  @apply border-t border-b border-gray-400;
}

.referto td {
  @apply border border-gray-400 p-0;
}

td:first-child,
th:first-child {
  @apply rounded-l-xl;
}

th:first-child {
  @apply border-l;
}

td:last-child,
th:last-child {
  @apply rounded-r-xl;
}

th:last-child {
  @apply border-r;
}

table.no-second-child th:nth-child(2),
table.no-second-child td:nth-child(2) {
  display: none;
}

time {
  @apply select-all;
}

#svg-edges .green {
  @apply stroke-green-500 stroke-2;
}

#svg-edges .red {
  @apply stroke-red-500 stroke-1;
}
@media print {
  .noprint {
    display: none;
  }
}
