@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* @apply text-gray-700 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

td, th {
  @apply px-4 py-2 text-center border-t-[1px] border-b-[1px] border-gray-400;
}

td:first-child, th:first-child {
  @apply border-l-[1px] rounded-l-xl
}

td:last-child, th:last-child {
  @apply border-r-[1px] rounded-r-xl
}

a {
  @apply text-blue-400
}
